<app-navbar></app-navbar>
<div class="container" id="opening-container">
  <div class="row text-center align-items-center" style="margin-top: -80px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-5 gauche left-side">
      <h1 class="main-title">Welcome to the Dragon Ball Z API Website</h1>
      <p class="intro">The #1 online platform that all things DBZ!</p>
      <div class="logout-section">
        <app-login-button></app-login-button>
      </div>
    </div>
    <div class="col-lg-5 corps right-side">
      <img class="main-img" src="https://i.imgur.com/1slSEDp.png" alt="" />
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<footer class="my-cr margin-bottom text-center fixed-bottom">
  <span>&copy;2022 by Azhya A. Knox</span>
</footer>
