<div class = "container">
    <div class = "jumbotron text-center">
        <h3> AJAX Example</h3>
        <span class = "label label-success">Using the RESTful Pokemon</span>
    </div>
</div>

<!-- This contains the image and h3 tags that I'll modify once I get the response-->
<div class = "info">
    <div class = "text-center">

        <img id = "pokemonImg">
        <h3 id = "pokemonName">Placeholder</h3>
    </div>
</div>

<!-- To submit a request -->
<!-- Don't use the <form> when using AJAX! or anything to do with JS-->
<div class = "container">

    <input type="text" class="form-control" id = "pokemonId">
    <button type="button" class="btn btn-danger" id="pokemonButton">Pokemon Search</button>

</div> 
